figure.figure-focus
  -
    img = {
      name: 'aj',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3696',
      height: '2448',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'aleksandra-boguslawska',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4288',
      height: '2848',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'alice',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4496',
      height: '3000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'andrew-charney',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '5760',
      height: '3840',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'artem-sapegin',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '5301',
      height: '3534',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'birger-strahl',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4928',
      height: '2772',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'clay-banks',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2002',
      height: '3000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'david-haughton',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2000',
      height: '1289',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'dawid-zawila',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2000',
      height: '3000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'gabriella-clare-marino',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4000',
      height: '6000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'girl-with-red-hat',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4024',
      height: '6048',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'hannah-falk',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3224',
      height: '4836',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'henry-be',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4928',
      height: '3264',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'jaredd-craig',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '7952',
      height: '5304',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'jeremy-bishop',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3648',
      height: '5472',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'julia-solonina',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4000',
      height: '6000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'julia-solonina2',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3000',
      height: '4500',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'karol-kaczorek',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3160',
      height: '4803',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'luis-vidal',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4016',
      height: '5625',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'kevin-mueller',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2712',
      height: '4068',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'marco-cbosio',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3456',
      height: '4608',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'marita-kavelashvili',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4288',
      height: '2848',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'matthew-smith',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '5000',
      height: '3333',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'mickey-o-neil',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3264',
      height: '2448',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'mike-smith',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '5380',
      height: '3587',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'mr-bochelly',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2121',
      height: '3451',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'nick-perez',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3968',
      height: '2976',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'nicolas-hoizey',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3715',
      height: '3715',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'petr-vysohlid',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4429',
      height: '2953',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'pisit-heng',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3024',
      height: '4032',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'robin-billy',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2565',
      height: '3634',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'robin-billy2',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2500',
      height: '2500',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'robin-billy3',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '6240',
      height: '4160',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'robin-ooode',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4000',
      height: '6000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'sam-balye',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3840',
      height: '5760',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'samuel-ferrara',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2571',
      height: '3840',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'sapan-patel',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '2931',
      height: '4396',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'sapan-patel2',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '4000',
      height: '6000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'sarah-hu',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '1823',
      height: '2745',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'tanner-mardis',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '6000',
      height: '4000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'tyler-maddigan',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '3424',
      height: '5136',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
figure.figure-focus
  -
    img = {
      name: 'willian-justen-de-vasconcellos',
      ext: 'webp',
      typesMime: 'image/webp',
      src: '/medias/images/uploads/',
      width: '6000',
      height: '4000',
      alt: 'Lorem ipsum.',
      caption: 'Lorem ipsum...',
      sources: []
    }
  include ../helpers/picture2
  figcaption!= img.caption
