extends PatternLayouts

append var
  - name = 'Scriptura'
  - title = 'Scriptura Framework'
  - homepage = true
  - contentlarge = true

block content
  header.section.slideshow#slideshow1(
    data-cycle-slides='.cycle-item'
    data-cycle-timeout='10000'
    data-cycle-speed='2000'
    data-cycle-prev='#prev'
    data-cycle-next='#next'
    data-cycle-manual-fx='scrollHorz'
    data-cycle-manual-speed='300'
    )
    - var img = [ '../Images/Demo/LotusMacro', '../Images/Demo/FlowerMacro' ]
    - var title = [ '', 'A framework Jade/Stylus/Javascript' ]
      - for (var i = 0; i < img.length; i++)
        style.
          @media screen and (max-width: 36.01rem) {
            #cycle-item#{i} {
              background-image: url(#{img[i]}1000.jpg);
            }
          }
          @media screen and (min-width: 36.01rem) and (max-width: 65.01rem) {
            #cycle-item#{i} {
              background-image: url(#{img[i]}1500.jpg);
            }
          }
          @media screen and (min-width: 65.01rem) {
            #cycle-item#{i} {
              background-image: url(#{img[i]}2000.jpg);
            }
          }
        .cycle-item(id='cycle-item#{i}')
          //- data-cycle-hash='#{title[i]}' // Attribut permettant une ancre liée à l'élément
          picture
            //- @todo L'image la plus petite est suffisante pour l'attribut srcset étant donné que l'image est inutilisée au profit de 'background-image'
            source(
              srcset='#{img[i]}300.jpg'
              sizes='100vw'
              )
            img(src='#{img[i]}.jpg' alt='#{title[i]}')
          .wrap.cycle-text
            if title[i] === title[0]
              div
                .vertical.vh85.zoom150
                  h1(itemprop='name') Scriptura
                  .text-center
                    svg.svg-color.width10(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 200 200')
                      path(d='M200 24.758c-355.807-105.878 130.682 161.232-200 175.242 286.814-75.173-174.292-221.127 200-175.242z')
                  h2(itemprop='alternativeHeadline') Interface for web apps
                  p(style='font-size:50%') v. @@pkg.version
            else
              div
                h2
                  = title[i]
                br
                a(href='#index-about')
                  button(type='button')
  .section#index-about
    .wrap.box.ribbon-container
      .ribbon
        a(href='https://github.com/Scriptura/ScripturaFramework/blob/master/Readme.md#about') More details
      h2.highlight About
        a.anchor(href='#index-about')
      .grid
        .m6.sizeS-m8.accordion
          h3 Eng
          .active.links
            p Scriptura is a framework html/js/css light that aims to simplify the layout. Here, no supperflu adding html tags or index in the flow of web pages in order to support a script or a visual effect, priority is given to content, the HTML code is clean and respects the logic of the flow Datas.
            p The idea is to start from a properly structured text and to surround it with a parent element with a class. The part of the target document will be transformed as tabs or accordion menu, or anything else as appropriate. For examples see our 
              a(href='./Pages/StyleGuide.html') StyleGuide
              | .
            p The framework allows for 
              a(href='./Pages/Layouts.html') complex layouts
              |  through a grid system based on the modules css FlexBox and calc() function.
            p Their scripts sides are based on the Web Storage rather than cookies.
            p These technologies imply a limitation of backward compatibility with older browsers, bias on our part that allows us the use of the latest technologies without compromise web.
          h3 Fr
          div(lang='fr').links
            p Scriptura est un framework html/js/css léger dont le but est de simplifier la mise en page. Ici, pas d'ajout supperflu de balises html ou d'index dans le flux des pages web dans le but de soutenir un script ou un effet visuel, la priorité est donnée au contenu, le code html reste propre et respecte la logique du flux des données.
            p L'idée est de partir d'un texte correctement structuré et de l'entourer d'un élément parent comportant une classe. La partie du document ainsi ciblée sera transformée en menu onglets ou accordéon, ou encore autre chose selon les besoins. Pour voir des exemples consultez notre 
              a(href='./Pages/StyleGuide.html') StyleGuide
              | .
            p Le framework permet des 
              a(href='./Pages/Layouts.html') mises en page complexes
              |  grâce à un système de grille basé sur les modules css flexbox et la fonction calc().
            p De leurs côtés les scripts s'appuient sur le Web Storage plutôt que sur les cookies.
            p Ces technologies impliquent une limitation de la rétrocompatibilité aux navigateurs récents, un parti pris de notre part qui nous permet l'utilisation des dernières technologies du web sans compromis.
        .m6.sizeS-m4.vertical
          .icon-info.surround.zoom500
  .section#index-get-started
    .wrap.box.ribbon-container
      .ribbon
        a(href='https://github.com/Scriptura/ScripturaFramework/blob/master/Readme.md#folder-tree-and-key-files') More details
      h2.highlight Get Started
        a.anchor(href='#index-get-started')
      .grid
        .m6.sizeS-m8
          h3.h5 First stage
          .active
            p
              a(href='https://github.com/Scriptura/ScripturaFramework') Clone or download the repository
              | , then work with the workflow by running this command with your terminal to the file in the root:
            p
              code $ npm install
            p And monitoring of the folder:
            p
              code $ gulp
          h3.h5 Second stage
          div
            p Create an 
              code .html.jade
              |  or an 
              code .php.jade
              |  file in the folder.
            p With in the file's header:
            p
              code link(rel='stylesheet' href='./Public/Styles/Main.css' media='screen')
            p And in the file's footer:
            p
              code script(src='./Scripts/Vendors/JQuery.js')
            p
              code script(src='./Public/Scripts/Main.js')
          h3.h5 Third stage
          div
            p That's all! You can start creating with jade syntaxe.
        .m6.sizeS-m4.vertical
          .icon-rocket.surround.zoom500
