extends patternLayout

block variables
  - var documentType = 'account'

block main
  h1.main-heading !{data._name} 
    span .&nbsp;Compte utilisateur
  .grid2.gap.media-s-grid1
    ul
      li Id : #{data._id}
      li Username : #{data._username}
      li Password : #{data._password}
      if data._email
        li Email : #{data._email}
      if data._role
        li Rôle : #{data._role}
      li Inscrit depuis le : #{data._creation}
      if data._revision
        li Dernière revision du profil le : #{data._revision}
      if data._last_login
        li Dernière connexion le : #{data._last_login}
    .center
      svg.size25.decorative-svg(role='img' focusable='false' style='height:12em')
        use(xlink:href='/sprites/silos/79v-d2.svg#1')
  hr
  ul.list-stripe-links.grid3
    li
      a(href='/account/admin') User admin
    li
      a(href='/account/lambda') User visitor
    li
      a(href='/account/123') User xyz (incorrect path)
