extends patternLayout

block variables
  - const documentType = 'forum'
  -
    const data = {
      _name: 'Forum <span>.&nbsp;Example</span>',
      _title: 'Forum de démonstration',
      _description: 'Forum de démonstration.'
    }

mixin topic(icon, name, date, time, pseudoAuthor, nbrResponse, pseudoResponse, slug)
  .message.topic(style='position:relative')
    a(href='/page/' + slug + '.html')
      span(aria-hidden='true' style='position:absolute;inset:0')
    .grid.m-grid3.l-grid3(style='position:relative')
      .c2
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#' + icon)
          a(href='/page/' + slug + '.html' style='font-variant:small-caps') #{name}
          | , #{date}, #{time} par 
          a.author(href='/page/person.html') #{pseudoAuthor}
      div
        p(style='text-align:right')
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#bubbles')
          | #{nbrResponse}
          if nbrResponse != 0
            svg.icon-inline.scale70(role='img' focusable='false' style='margin-bottom:.2em; margin-left:1em')
              use(href='/sprites/util.svg#arrow-right2')
            a.author(href='/page/person.html') #{pseudoResponse}

block main
  header(role='banner')
    h1.main-heading!= data._name
  - for (let i = 0; i < 11; i++)
    .message.topic
      a(href='/page/article.html' aria-hidden='true')
      .aaa(style='--img:url(/medias/images/uploads/dawid-zawila-w300.webp)')
      .ttt
        h2
          a(href='/page/article.html') Lorem ipsum dolor sit amet consectetur adipiscing elit
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#bubbles')
          | 5
      .uuu
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#quill')
          | le 17 janvier 2023 par 
          a(href='/page/person.html') Jeanne d'Arc
        p
          a(href='/page/cards.html') Écriture & Tradition
          a(href='/page/cards.html') Apologétique
          a(href='/page/cards.html') Paroles des Pères
    .message.topic
      a(href='/page/article.html' aria-hidden='true')
      .aaa(style='--img:url(/medias/images/uploads/tanner-mardis-w300.webp)')
      .ttt
        h2
          a(href='/page/article.html') Vestibulum ut facilisis turpis, vitae efficitur magna
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#bubbles')
          | 17
      .uuu
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#share')
          | le 2 février 2023 par 
          a(href='/page/person.html') Henri de Lubac
        p
          a(href='/page/cards.html') Sur le mal
          a(href='/page/cards.html') Métaphysique
    .message.topic
      a(href='/page/article.html' aria-hidden='true')
      .aaa(style='--img:url(/medias/images/uploads/nicolas-hoizey-w300.webp')
      .ttt
        h2
          a(href='/page/article.html') Praesent in neque pharetra tincidunt metus sed lobortis neque
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#bubbles')
          | 2
      .uuu
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#share')
          | le 2 février 2023 par 
          a(href='/page/person.html') Origène
        p
          a(href='/page/cards.html') Apologétique
          a(href='/page/cards.html') Sacrements
          a(href='/page/cards.html') Filiation
          a(href='/page/cards.html') Traduction
//-
  +topic('quill', 'Lorem ipsum dolor sit amet', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Consectetur adipiscing elit', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '0', '', 'article')
  +topic('quill', 'Pellentesque gravida euismod nisl ac sodales', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Aliquam erat volutpat', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '3', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Aenean volutpat diam eu tristique faucibus', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '2', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Vestibulum vitae laoreet ligula', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Suspendisse potenti', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '4', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Donec vel faucibus quam, vitae bibendum odio', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '5', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'In hac habitasse platea dictumst', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Ut vel libero ac velit tincidunt pellentesque eget at odio', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '0', '', 'article')
  +topic('quill', 'Cras ac leo ut tortor ornare aliquam', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Mauris quis justo orci', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '3', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Etiam ut sagittis est, id ultrices ipsum', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '2', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'In vel odio aliquet, ultrices tortor sit amet, dignissim purus', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Pellentesque hendrerit blandit placerat', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '5', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Class aptent taciti sociosqu ad litora torquent per conubia nostra', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '7', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Curabitur hendrerit sapien sed metus consectetur', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '9', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Nam non lacus consequat, bibendum nisl eu', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '3', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'In id nunc vel ex efficitur venenatis id ac massa', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '8', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Ut ultrices, velit eu finibus condimentum', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '2', 'Jeanne d\'Arc', 'article')
