extends patternLayout

block variables
  - const documentType = 'person'
  -
    const data = {
      _name: 'Person <span>.&nbsp;example</span>',
      _title: 'Person . Scritpura framework',
      _description: 'Person . Scritpura framework',
      _user_id: '1',
      _sexe: '1',
      _given_name: 'Henri',
      _additional_name: 'Sonier',
      _family_name: 'de Lubac',
      _prefix: 'P',
      _suffix: 's.j.',
      _birth_date: '19/02/1896',
      _birth_place_id: 'Cambrai',
      _death_date: '04/09/1991',
      _death_place_id: 'Paris',
      _devise: 'L\'Église a pour unique mission de rendre Jésus Christ présent aux hommes.'
    }

block main
  header(role='banner')
    h1.main-heading Henri Sonier de Lubac 
      span .&nbsp;Personnalité
  .grid2.gap.grid-s-1
    div
      ul
        li Id : #{data._id}
        if data._user_id
          li User id : #{data._user_id}
        li Sexe : 
          if !data._sexe
            | non renseigné
          if data._sexe == 0
            | inconnu
          if data._sexe == 1
            | homme
          else if data._sexe == 2
            | femme
          else if data._sexe == 9
            | non applicable
        if data._given_name
          li= data._given_name
        if data._additional_name
          li= data._additional_name
        if data._family_name
          li= data._family_name
        if data._usual_name
          li= data._usual_name
        if data._nickname
          li= data._nickname
        if data._prefix
          li= data._prefix
        if data._suffix
          li= data._suffix
        if data._birth_date
          li
            if data._sexe != 2
              | Né
            else
              | Née
            |  le #{data._birth_date}
            if data._birth_place_id
              |  à #{data._birth_place_id}
        if data._death_date
          li
            if data._sexe == ('1' || '9')
              | Décédé
            else 
              | Décédée
            |  le #{data._death_date}
            if data._death_place_id
              |  à #{data._death_place_id}
        if data._nationality
          li Pays : #{data._nationality}
        if data._phone
          li Téléphone : #{data._phone}
        if data._devise
          li Devise : 
            em "#{data._devise}"
      p Henri Sonier de Lubac, né à Cambrai le 20 février 1896 et mort à Paris le 4 septembre 1991, est un jésuite, théologien catholique et cardinal français.
    .center
      svg.size25.reverse.decorative-svg(role='img' focusable='false')
        use(href='/sprites/silos/126r-d1.svg#1')

