.grid2.s-grid1.gap.masonry
  div
    p
      code pre.pre > code
    -
      const codeTest = `   OxxO
        X oo X
        X >< X
         XXXX~<>
       (..)(..)`
    pre.pre
      code(translate='no')= codeTest
  div
    p
      code code(data-select='Sélectionner et copier')
    pre.pre
      code(translate='no' data-select='Sélectionner et copier')= codeTest
  div
    p
      code code(data-select)
    pre.pre
      code.language-php(translate='no' data-code='PHP') echo 'Single line content';
  div
    p
      code code:empty
    pre.pre
      code(translate='no')
  div
    p
      code code(data-code='HTML')
    -
      const htmlTest = `<!DOCTYPE html>
      <html lang="fr" class="no-js">
        <head>
          <meta charset="utf-8">
          <title>a title</title>
          <!-- a comment... -->
        </head>
        <body>
          <header></header>
          <main>
            <article>a content</article>
          </main>
          <aside></aside>
          <footer></footer>
        </body>
      </html>`
    pre.pre
      code.language-html(translate='no' data-code='HTML')= htmlTest
  div
    pre.pre
      code.language-css(data-code='CSS' translate='no').
        /* a comment... */

        :root {
          color-scheme: dark;
        }

        *,
        *::before,
        *::after {
          box-sizing: border-box;
        }

        html {
          -webkit-text-size-adjust: 100%;
          color: #e9dac5;
          background-color: #393939;
          font-family: 'Noto Sans', sans-serif;
          line-height: 1.5;
          @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
          }
        }
  div
    pre.pre
      code.language-js(data-code='JS' translate='no').
        // a comment...
        const startPage = (() => {
          const html = document.documentElement,
                c = 'start-map'
          html.classList.add(c)
          window.addEventListener('load', function() {
            setTimeout(() => {
              html.classList.remove(c)
            }, 1500)
          })
        })()
  div
    pre.pre
      code.language-stylus(data-code='Stylus' translate='no').
        // a comment...
        .accordion
          display: flex
          flex-direction: column
          gap: .5em 0
          & > * > :first-child
            box-sizing: border-box
            display: flex
            align-items: center
            width: 100%
  div
    pre.pre
      code.language-pug(translate='no' data-code='Pug').
        // a comment...

        extends patternLayout

        block variables
          - const documentType = 'articles'

        block main
          h1.main-heading!= data._name
          .column4.gap
            each e in data
              article.card
                h2.h2!= e._name
                a(href='/article/' + e._id)
                  svg
                    use(href='/sprites/util.svg#test')
                p!= e._description
  .message-highlight
    svg.icon(role='img' focusable='false')
      use(href='/sprites/util.svg#quill')
    div
      p La coloration syntaxique du code s'appuie sur la bilbiothèque 
        a(href='https://prismjs.com/') Prism.js
        | .
