mixin list(icon, name, slug)
  li
    svg.icon-inline(role='img' focusable='false')
      use(href='/sprites/util.svg#' + icon)
    //- slug non utilisé.
    a(href='#') #{name}

.grid4.m-grid2.gap.gap-bottom
  div
    p
      code ul
    ul
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Cyan
              li Magenta
              li Jaune
              li Noir
  div
    p
      code ol
    ol
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ol
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ol
              li Cyan
              li Magenta
              li Jaune
              li Noir
  figure.center.c2
    svg.size.decorative-svg.xs-hidden.s-hidden.m-hidden(role='img' focusable='false')
      use(href='/sprites/silos/245v-d1.svg#1')
  div
    p
      code Basic list
    p A paragraph...
    ul
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Cyan
              li Magenta
              li Jaune
              li Noir
  div
    p
      code ul(style='--list-start:1.3em')
    p A paragraph...
    ul(style='--list-start:1.3em')
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Cyan
              li Magenta
              li Jaune
              li Noir
  div
    p
      code ol.list-gap
    ol.list-gap(style='--list-start:1.3em')
      - for (let i = 1; i < 11; i++)
        li List item #{i}
  div
    p
      code ol.list-gap(start='0')
    ol.list-gap(start='0' style='--list-start:1.3em')
      li.chorus
        code li.chorus
        |  List item 1
      - for (let i = 2; i < 11; i++)
        li List item #{i}
.grid-auto.gap.gap-bottom
  div
    p
      code ul.list-stripe
    ul.grid.list-stripe
      - for (let i = 1; i < 8; i++)
        li List item #{i}
  div
    p
      code ul.list-stripe
    ul.grid.list-stripe
      - for (let i = 1; i < 8; i++)
        li
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#quill')
          | List item #{i}
  div
    p
      code ul.list-stripe li a
    ul.grid.list-stripe
      - for (let i = 1; i < 8; i++)
        li
          a(href='#') List item #{i}
  div
    p
      code ul.list-stripe-links
    ul.grid.list-stripe-links
      - for (let i = 1; i < 8; i++)
        li
          a(href='#')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#link')
            | List item #{i}
div
  p
    code ul.list-straight
  ul.grid4.gap-bottom.list-straight
    +list('paint-roller', 'Components', 'components')
    +list('ampersand', 'Typography', 'typography')
    +list('language', 'Languages', 'languages')
    +list('list-ul', 'Lists', 'lists')
    +list('indent', 'Details/Summary', 'detailsSummary')
    +list('folder-closed', 'Tabs', 'tabs')
    +list('square-caret-down', 'Accordions', 'accordions')
    +list('message', 'Message Boxes', 'messageBoxes')
    +list('code', 'Code Blocks', 'codeBlocks')
    +list('table', 'Tables', 'tables')
    +list('picture', 'Images', 'images')
    +list('compact-disc', 'Audio & video players', 'players')
    +list('table-list', 'Forms', 'forms')
    +list('check', 'Checkboxes & radios', 'checkboxes')
    +list('sliders', 'Ranges', 'ranges')
    +list('power-off', 'Buttons', 'buttons')
    +list('bars-progress', 'Progress Bars', 'progressBars')
    +list('spinner', 'Loaders', 'loaders')
    +list('address-card', 'Cards', 'cards')
    +list('ribbon', 'Ribbons', 'ribbons')
    +list('table-cells', 'Grids', 'grids')
    +list('table-columns', 'Columns', 'columns')
    +list('search', 'A very long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'lorem')
    +list('map-location-dot', 'Maps', 'maps')
div
  p
    code ul.list-rounded
  ul.grid4.gap-bottom.list-rounded
    +list('paint-roller', 'Components', 'components')
    +list('ampersand', 'Typography', 'typography')
    +list('language', 'Languages', 'languages')
    +list('list-ul', 'Lists', 'lists')
    +list('indent', 'Details/Summary', 'detailsSummary')
    +list('folder-closed', 'Tabs', 'tabs')
    +list('square-caret-down', 'Accordions', 'accordions')
    +list('message', 'Message Boxes', 'messageBoxes')
    +list('code', 'Code Blocks', 'codeBlocks')
    +list('table', 'Tables', 'tables')
    +list('picture', 'Images', 'images')
    +list('compact-disc', 'Audio & video players', 'players')
    +list('table-list', 'Forms', 'forms')
    +list('check', 'Checkboxes & radios', 'checkboxes')
    +list('sliders', 'Ranges', 'ranges')
    +list('power-off', 'Buttons', 'buttons')
    +list('bars-progress', 'Progress Bars', 'progressBars')
    +list('spinner', 'Loaders', 'loaders')
    +list('address-card', 'Cards', 'cards')
    +list('ribbon', 'Ribbons', 'ribbons')
    +list('table-cells', 'Grids', 'grids')
    +list('table-columns', 'Columns', 'columns')
    +list('search', 'A very long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'lorem')
    +list('map-location-dot', 'Maps', 'maps')
div
  p
    code ol.list-straight
  ol.grid4.gap-bottom.list-straight
    li
       a(href='#index') Artichauts
    li
       a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
       a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') A very long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
div
  p
    code ol.list-rounded
  ol.grid4.list-rounded
    li
       a(href='#index') Artichauts
    li
       a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
       a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') A very long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
