extends ../patternLayout

block variables
  - const documentType = 'dashboard'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Lorem ipsum <span>.&nbsp;Sample dashboard template</span>',
      _title: 'Dashboard . Scriptura framework',
      _description: 'Tableau de bord de démonstration.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .grid2.s-grid1.gap.gap-bottom
    .tabs
      details
        summary
          svg.icon-inline (role='img' focusable='false')
            use(href='/sprites/util.svg#users')
          | Users
        div
          ul
            li 36 utilisateurs
            li 1 administrateur
            li 2 auteurs
            li 2 éditeurs
            li 3 modérateurs
            li 7 contributeurs
            li 19 commentateurs
            li 2 abonnés
      details
        summary
          svg.icon-inline (role='img' focusable='false')
            use(href='/sprites/util.svg#ampersand')
          | Articles
        div
          ul
            li 237 articles
            li 232 articles publiés
            li 5 articles non publiés
            li 25 articles sans mot clef
      details
        summary
          svg.icon-inline (role='img' focusable='false')
            use(href='/sprites/util.svg#bubbles')
          | Forums
        div
          ul
            li 237 sujets
            li 25 sujets sans mot clef
            li 31 sujets retirés
      details
        summary
          svg.icon-inline (role='img' focusable='false')
            use(href='/sprites/util.svg#bubbles')
          | Comments
        div
          ul
            li 324 commentaires
            li 12 commentaires en attente de modération
            li 49 commentaires retirés
  hr
  .grid-auto.gap.gap-bottom
    - for (let i = 0; i < 3; i++)
      .accordion(data-singletab='true')
        details
          summary
            svg.icon-inline (role='img' focusable='false')
              use(href='/sprites/util.svg#users')
            | Users
          div
            ul
              - for (let i = 1; i < 25; i++)
                li
                  a(href='#') Item #{i}
        details
          summary
            svg.icon-inline (role='img' focusable='false')
              use(href='/sprites/util.svg#ampersand')
            | Articles
          div
            ul
              - for (let i = 1; i < 25; i++)
                li
                  a(href='#') Item #{i}
        details
          summary
            svg.icon-inline (role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | Comments
          div
            ul
              - for (let i = 1; i < 25; i++)
                li
                  a(href='#') Item #{i}
  hr
  ul.grid4.gap.gap-bottom.list-stripe-links
    - for (let i = 1; i < 25; i++)
      li
        a(href='#')
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#link')
          | List item #{i}
  hr
  p.message
    svg.icon-inline(role='img' focusable='false')
      use(href='/sprites/util.svg#logout')
    a(href='/') Se déconnecter