extends ../patternLayout

block variables
  - const documentType = 'person'
  - const pageType = 'template'
  -
    const data = {
      _id: '1',
      _name: 'Henri Sonier de Lubac <span>.&nbsp;Sample person template</span>',
      _title: 'Person . Scriptura',
      _description: 'Exemple de page dédiée pour une personne',
      _user_id: '83bc6bd8-c765-11ed-afa1-0242ac120002',
      _sexe: '1',
      _given_name: 'Henri',
      _additional_name: 'Sonier',
      _family_name: 'de Lubac',
      _prefix: 'P',
      _suffix: 's.j.',
      _birth_date: '19/02/1896',
      _birth_place_id: 'Cambrai',
      _death_date: '04/09/1991',
      _death_place_id: 'Paris',
      _devise: 'L\'Église a pour unique mission de rendre Jésus Christ présent aux hommes.',
      _nationality: 'Française',
      _phone: '01 01 01 01 01'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .grid2.s-grid1.gap
    .center
      figure.figure-focus-thumbnail(style='border-radius:50%;overflow:hidden')
        picture
          source(srcset='/medias/images/uploads/henri-de-lubac-w600.webp, /medias/images/uploads/henri-de-lubac-w1000.webp 2x' type='image/webp')
          img(src='/medias/images/uploads/henri-de-lubac-original.webp' loading='lazy' alt="Cardinal Henri de Lubac, s.j." width='600' height='600' style='border-radius:50%')
    .center
      .no-margin-bottom-last-child
        .message
          .grid.gap(style='grid-template-columns: 2.5em 1fr 2.5em')
            svg.icon.scale200(role='img' focusable='false' style='color:tomato')
              use(href='/sprites/util.svg#quotes-left')
            p #{data._devise}
            svg.icon.scale200(role='img' focusable='false' style='color:tomato')
              use(href='/sprites/util.svg#quotes-right')
        .message
          p Henri Sonier de Lubac, né à Cambrai le 20 février 1896 et mort à Paris le 4 septembre 1991, est un jésuite, théologien catholique et cardinal français.
  hr
  ul.grid3.gap.list-stripe
    li Id : #{data._id}
    li User id : #{data._user_id}
    li Sexe : 
      if !data._sexe
        | non renseigné
      if data._sexe == 0
        | inconnu
      if data._sexe == 1
        | homme
      else if data._sexe == 2
        | femme
      else if data._sexe == 9
        | non applicable
    li Prénom&nbsp;: #{data._given_name}
    li Deuxième prénom&nbsp;: #{data._additional_name}
    li Nom de famille&nbsp;: #{data._family_name}
    //-li Nom usuel&nbsp;: #{data._usual_name}
    //-li Surnom&nbsp;: #{data._nickname}
    li Préfixe&nbsp;: #{data._prefix}
    li Suffixe&nbsp;: #{data._suffix}
    li Nationnalité&nbsp;: #{data._nationality}
    li Né le #{data._birth_date} à 
      a(href='/page/place.html')= data._birth_place_id
    li Décédé le #{data._death_date} à 
      a(href='/page/place.html')= data._death_place_id
    li Téléphone&nbsp;: #{data._phone}
