extends ../patternLayout

block variables
  - const documentType = 'place'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Cathédrale Notre-Dame de Paris <span>.&nbsp;Sample place template</span>',
      _title: 'Place . Scriptura',
      _description: 'Page de démonstration dédiée à un lieu',
      _street: '6 Parvis Notre-Dame - Pl. Jean-Paul II',
      _postal_code: '75004',
      _locality: 'Paris',
      _location: {x: '2.349974', y: '48.85297'},
      _elevation: '210',
      _markerDescription: 'Cathédrale Notre-Dame de Paris'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    ul
      if data._street && data._postal_code && data._locality
        li Adresse : #{data._street}, #{data._postal_code}, #{data._locality}
      else if data._locality
        li Ville : #{data._locality}
      if data._location
        li Latitude : #{data._location.y}
      if data._location
        li Longitude : #{data._location.x}
      if data._elevation
        li Altitude : #{data._elevation}
    if data._location
      .gap-bottom
        .map(
          style='max-height:50vh'
          data-name=data._name
          data-places=`[["${data._markerDescription}", [${data._location.y}, ${data._location.x}]]]`
          data-zoom='15'
          data-minzoom='10'
          data-maxzoom='19'
          data-tileserver='https://wxs.ign.fr/decouverte/geoportail/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE=normal&TILEMATRIXSET=PM&FORMAT=image/png&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}'
          data-attribution='<a href="//www.geoportail.gouv.fr/">Geoportail France</a>'
          )
