extends ../PatternLayouts

append var
  - name = 'Style Guide'
  - title = name
  - styleguidepage = true
  - contentlarge = true

mixin list(name, anchor)
  li
    a(href='#index-#{anchor}')
      span.icon-arrow-down
      | &nbsp;&nbsp;#{name}

mixin section(name, anchor)
  section.section(id='index-#{anchor}')
    .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
      .ribbon
        a(href=attributes.link) See page
      h2.highlight #{name}
        a.anchor(href='#index-#{anchor}')
      block

block content
  header.section
    .wrap              
      h1(itemprop='headline name').emphasized Style Guide
      p.touch-hidden
        em Keyboard navigation: press 
          code s
          | or 
          code z
          |  to switch sections.
      ul.list-stripe-link.summary
        +list('Typography', 'typography')
        +list('Messages Box', 'messages-box')
        +list('Code Blocks', 'code-blocks')
        +list('Lists', 'lists')
        +list('Tables', 'tables')
        +list('Images', 'images')
        +list('Players', 'players')
        +list('Inputs', 'inputs')
        +list('Checkbox & Radio', 'checkbox-radio')
        +list('Ranges', 'ranges')
        +list('Buttons', 'buttons')
        +list('Ajax', 'ajax')
        +list('Tabs', 'tabs')
        +list('Accordions', 'accordions')
        +list('Progress', 'progress')
        +list('Loaders', 'loaders')
        +list('Ribbons', 'ribbons')
        +list('Grid Layout', 'grid-layout')
        +list('Columns', 'columns')
        +list('Dimensions', 'dimensions')
        +list('Zoom', 'zoom')
        +list('Ratios', 'ratios')
        +list('Langages', 'langages')
        +list('Glyph Icons', 'glyph-icons')
        +list('Maps', 'maps')
  +section('Typography', 'typography')(link='./Typography.html')
    include ../Includes/Typography
  +section('Messages Box', 'messages-box')(link='./MessagesBox.html')
    include ../Includes/MessagesBox
  +section('Code Blocks', 'code-blocks')(link='./CodeBlocks.html')
    include ../Includes/CodeBlocks
  +section('Lists', 'lists')(link='./Lists.html')
    include ../Includes/Lists
  +section('Tables', 'tables')(link='./Tables.html')
    include ../Includes/Tables
  +section('Images', 'images')(link='./Images.html')
    include ../Includes/Images
  +section('Players', 'players')(link='./Players.html')
    include ../Includes/Players
  +section('Inputs', 'inputs')(link='./Inputs.html')
    include ../Includes/Inputs
  +section('Checkbox & Radio', 'checkbox-radio')(link='./CheckboxRadio.html')
    include ../Includes/CheckboxRadio
  +section('Ranges', 'ranges')(link='./Ranges.html')
    include ../Includes/Ranges
  +section('Buttons', 'buttons')(link='./Buttons.html')
    include ../Includes/Buttons
  +section('Ajax', 'ajax')(link='./Ajax.html')
    include ../Includes/Ajax
  +section('Tabs', 'tabs')(link='./Tabs.html')
    include ../Includes/Tabs
  +section('Accordions', 'accordions')(link='./Accordions.html')
    include ../Includes/Accordions
  +section('Progress', 'progress')(link='./Progress.html')
    include ../Includes/Progress
  +section('Loaders', 'loaders')(link='./Loaders.html')
    include ../Includes/Loaders
  +section('Ribbons', 'ribbons')(link='./Ribbons.html')
    include ../Includes/Ribbons
  +section('Grid Layout', 'grid-layout')(link='./GridLayout.html')
    include ../Includes/GridLayout
    p
      a(href='./Layouts.html')
        span.icon-paperclip
        |  Layout Examples
  +section('Columns', 'columns')(link='./Columns.html')
    include ../Includes/Columns
  +section('Dimensions', 'dimensions')(link='./Dimensions.html')
    include ../Includes/Dimensions
  +section('Zoom', 'zoom')(link='./Zoom.html')
    include ../Includes/Zoom
  +section('Ratios', 'ratios')(link='./Ratios.html')
    include ../Includes/Ratios
  +section('Langages', 'langages')(link='./Langages.html')
    include ../Includes/Langages
  +section('Glyph Icons', 'glyph-icons')(link='./GlyphIcons.html')
    include ../Includes/GlyphIcons
  +section('Maps', 'maps')(link='./Maps.html')
    include ../Includes/Maps
