p
  code .figure-focus
.grid4.grid-l-4.gap
  figure.figure-focus
    -
      img = {
        name: 'clay-banks',
        ext: 'webp',
        typesMime: 'image/webp',
        src: '../../medias/images/uploads/',
        width: '2002',
        height: '3000',
        alt: 'Phare de Newport, États-Unis',
        caption: 'Yaquina Head, Newport, États-Unis.\<br\>Crédit&nbsp;: Clay Banks',
        sources: []
      }
    include ../../helpers/picture2
    figcaption!= img.caption
  figure.figure-focus
    -
      img = {
        name: 'girl-with-red-hat',
        ext: 'webp',
        typesMime: 'image/webp',
        src: '/medias/images/uploads/',
        width: '4024',
        height: '6048',
        alt: 'Détails de l\'intérieur de la Capilla Real, Cathédrale de Cordoue, Espagne.',
        caption: 'Détails de l\'intérieur de la Capilla Real, Cathédrale de Cordoue, Espagne.\<br\>Crédit&nbsp;: Girl With Red Hat (Pseudo)',
        sources: []
      }
    include ../../helpers/picture2
    figcaption!= img.caption
  figure.figure-focus
    -
      img = {
        name: 'sapan-patel',
        ext: 'webp',
        typesMime: 'image/webp',
        src: '/medias/images/uploads/',
        width: '2931',
        height: '4396',
        alt: 'Coucher de soleil sur un champ, Los Angeles, États-Unis.',
        caption: 'Coucher de soleil sur un champ, Los Angeles, États-Unis.\<br\>Crédit&nbsp;: Sapan Patel',
        sources: []
      }
    include ../../helpers/picture2
    figcaption!= img.caption
  figure.figure-focus
    -
      img = {
        name: 'julia-solonina2',
        ext: 'webp',
        typesMime: 'image/webp',
        src: '/medias/images/uploads/',
        width: '3000',
        height: '4500',
        alt: 'Bellagio, Province de Côme, Italie.',
        caption: 'Bellagio, Province de Côme, Italie.\<br\>Crédit&nbsp;: Julia Solonina',
        sources: []
      }
    include ../../helpers/picture2
    figcaption!= img.caption
hr(data-hr='✻ ✻ ✻')
.grid2.gap.justify
  div
    figure.figure-focus-thumbnail-alignleft
      -
        img = {
          name: 'matthew-smith',
          ext: 'webp',
          typesMime: 'image/webp',
          src: '/medias/images/uploads/',
          width: '5000',
          height: '3333',
          alt: 'Prairie.',
          caption: 'Prairie.\<br\>Crédit&nbsp;: Matthew Smith',
          sources: []
        }
      include ../../helpers/picture3
      figcaption!= img.caption
    p
      code .figure-focus-thumbnail-alignleft
      |  Est optio ducimus aut nesciunt enim quo nisi velit. Recusandae asperiores non esse numquam ab quisquam illum est voluptates provident ex vero libero? Aut ducimus magnam hic eveniet voluptas ea officia doloribus quo sapiente labore est perferendis animi sed officia voluptate rem expedita laborum. Hic accusamus facilis At quod ducimus et consequuntur deleniti. Ut vero quibusdam ut reprehenderit atque cum perferendis blanditiis. Aut sunt sunt eum explicabo nulla eum voluptate harum aut reiciendis dolore sunt provident ab dolorum deserunt. Nulla sint et voluptas consequatur aut blanditiis eveniet ea quia sunt id odit quasi. Et suscipit omnis non quam adipisci aut iusto dolore aut provident repellat.
    p Phasellus id massa ut diam lacinia condimentum sit amet at sem. Vestibulum molestie est sed elementum tincidunt. Curabitur id magna enim. Phasellus aliquam sapien in leo vulputate, ut gravida diam fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla tincidunt dignissim tellus, et ultricies elit aliquam vitae. Quisque at gravida neque. Nam eu metus vestibulum, pulvinar neque in, aliquam neque.
    p Sit dignissimos omnis et cupiditate corporis hic voluptatem reiciendis et unde animi. pariatur enim id itaque enim et expedita maiores! Sit eveniet ratione est voluptatem excepturi aut assumenda repudiandae hic libero sequi sit explicabo aperiam. Vel facere cumque in omnis numquam eum cupiditate quod aut ipsum maxime et fuga dignissimos ab reprehenderit fuga. Proin dignissim nibh eu quam sodales, quis volutpat est porttitor. Aliquam ante nulla, cursus nec libero at, iaculis fermentum urna. Ut at varius arcu, in eleifend eros. Fusce sed quam at purus dapibus finibus. In hac habitasse platea dictumst.
  div
    figure.figure-focus-thumbnail-alignright
      -
        img = {
          name: 'artem-sapegin',
          ext: 'webp',
          typesMime: 'image/webp',
          src: '/medias/images/uploads/',
          width: '5301',
          height: '3534',
          alt: 'Lac de Bled, Slovénie.',
          caption: 'Lac de Bled, Slovénie.\<br\>Crédit&nbsp;: Artem Sapegin',
          sources: []
        }
      include ../../helpers/picture3
      figcaption!= img.caption
    p
      code .figure-focus-thumbnail-alignright
      |  Eum mollitia accusantium. quam distinctio non consequatur quia ut perspiciatis inventore. Ea consequatur similique non repellendus nulla qui magni eius non perspiciatis sunt non aperiam repudiandae in laudantium consequatur. Sit dignissimos omnis et cupiditate corporis hic voluptatem reiciendis et unde animi. pariatur enim id itaque enim et expedita maiores! Sit eveniet ratione est voluptatem excepturi aut assumenda repudiandae hic libero sequi sit explicabo aperiam. Vel facere cumque in omnis numquam eum cupiditate quod aut ipsum maxime et fuga dignissimos ab reprehenderit fuga.
    p Ab dolorem iste et corrupti commodi qui officia repellendus. Nam velit obcaecati et itaque totam hic consequatur galisum. Ad omnis deleniti sit debitis consequatur qui temporibus tenetur aut repudiandae suscipit. accusamus sequi est recusandae voluptatibus. Ex aspernatur doloribus et dolorem soluta ea nulla repudiandae ea excepturi aspernatur ut tempora ut sunt soluta in internos molestiae.
    p Cras quis dapibus metus. Pellentesque ligula ex, viverra id tempus sit amet, placerat sodales nisi. Morbi feugiat consectetur nunc quis pretium. Fusce sed quam at purus dapibus finibus. In hac habitasse platea dictumst. Suspendisse dui mauris, tempor sed est quis, eleifend maximus quam. In viverra porta augue, eu auctor ligula vulputate non. Morbi non facilisis tellus. Integer sollicitudin id mauris vel convallis. Etiam rutrum sollicitudin imperdiet.
    //-
      p Sed imperdiet neque at enim vehicula mollis. Etiam rhoncus tempus ante. Vivamus vel magna felis. In porta, nunc ac blandit blandit, augue mauris lacinia sem, quis fermentum lacus est non augue. Aliquam erat volutpat. Pellentesque ac maximus nisl. Quisque enim sem, hendrerit eu lorem sed, molestie aliquam mi. Sed posuere pharetra elit eu ornare. Donec pellentesque, nunc at vulputate porta, sapien nisi volutpat est, a hendrerit libero libero ut dui. Pellentesque eu cursus lorem. Sed in interdum nisi. Integer in pharetra lacus. Vivamus gravida, mauris sit amet interdum pretium, nulla urna vulputate ligula, fermentum suscipit urna risus vitae sem. Sed at enim et massa bibendum condimentum.
