mixin list(icon, name, slug)
  li
    svg.icon(role='img' focusable='false')
      use(xlink:href='/sprites/solid.svg#' + icon)
    a(href='#section-' + slug) #{name}

.grid4.gap.gap-bottom
  div
    p
      code ul
    ul
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Cyan
              li Magenta
              li Jaune
              li Noir
  div
    p
      code ol
    ol
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ol
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ol
              li Cyan
              li Magenta
              li Jaune
              li Noir
  div
    p
      code ul.list
    ul.list
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Cyan
              li Magenta
              li Jaune
              li Noir
  .center.media-xs-hidden.media-l-hidden
    svg.size25.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/245v-d1.svg#1')
.grid4.gap
  div
    p
      code ul.list-stripe
    ul.list-stripe
      - for (let i = 1; i < 8; i++)
        li List item #{i}
  div
    p
      code ul.list-stripe
    ul.list-stripe
      - for (let i = 1; i < 8; i++)
        li
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#quill')
          | List item #{i}
  div
    p
      code ul.list-stripe li a
    ul.list-stripe
      - for (let i = 1; i < 8; i++)
        li
          a(href='#') List item #{i}
  div
    p
      code ul.list-stripe-links
    ul.list-stripe-links
      - for (let i = 1; i < 8; i++)
        li
          a(href='#')
            svg.icon(role='img' focusable='false')
              use(xlink:href='/sprites/utils.svg#link')
            | List item #{i}
div
  p
    code ol.list-straight
  ol.grid4.list-straight
    li
       a(href='#index') Artichauts
    li
       a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
       a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
div
  p
    code ol.list-rounded
  ol.grid4.list-rounded
    li
       a(href='#index') Artichauts
    li
       a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
       a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Artichauts
    li
      a(href='#index') Carottes
    li
      a(href='#index') Concombres
    li
      a(href='#index') Poireaux
    li
      a(href='#index') Choux
    li
      a(href='#index') Petits pois
    li
      a(href='#index') Courgettes

div
  p
    code ul.list-straight
  ul.grid4.list-straight
    +list('paint-roller', 'Style Guide', 'styleGuide')
    +list('pen-fancy', 'Typography', 'typography')
    +list('language', 'Languages', 'languages')
    +list('list-ul', 'Lists', 'lists')
    +list('indent', 'Details/Summary', 'detailsSummary')
    +list('folder', 'Tabs', 'tabs')
    +list('square-caret-down', 'Accordions', 'accordions')
    +list('message', 'Message Boxes', 'messageBoxes')
    +list('code', 'Code Blocks', 'codeBlocks')
    +list('table', 'Tables', 'tables')
    +list('image', 'Images', 'images')
    +list('vault', 'Audio & video players', 'players')
    +list('table-list', 'Forms', 'forms')
    +list('check', 'Checkboxes, radios & switches', 'checkboxes')
    +list('sliders', 'Ranges', 'ranges')
    +list('tablet-button', 'Buttons', 'buttons')
    +list('bars-progress', 'Progress Bars', 'progressBars')
    +list('spinner', 'Loaders', 'loaders')
    +list('address-card', 'Cards', 'cards')
    +list('ribbon', 'Ribbons', 'ribbons')
    +list('table-cells', 'Grids', 'grids')
    +list('table-columns', 'Columns', 'columns')
    +list('magnifying-glass', 'Zooms', 'zooms')
    +list('map-location-dot', 'Maps', 'maps')

div
  p
    code ul.list-rounded
  ul.grid4.list-rounded
    +list('paint-roller', 'Style Guide', 'styleGuide')
    +list('pen-fancy', 'Typography', 'typography')
    +list('language', 'Languages', 'languages')
    +list('list-ul', 'Lists', 'lists')
    +list('indent', 'Details/Summary', 'detailsSummary')
    +list('folder', 'Tabs', 'tabs')
    +list('square-caret-down', 'Accordions', 'accordions')
    +list('message', 'Message Boxes', 'messageBoxes')
    +list('code', 'Code Blocks', 'codeBlocks')
    +list('table', 'Tables', 'tables')
    +list('image', 'Images', 'images')
    +list('vault', 'Audio & video players', 'players')
    +list('table-list', 'Forms', 'forms')
    +list('check', 'Checkboxes, radios & switches', 'checkboxes')
    +list('sliders', 'Ranges', 'ranges')
    +list('tablet-button', 'Buttons', 'buttons')
    +list('bars-progress', 'Progress Bars', 'progressBars')
    +list('spinner', 'Loaders', 'loaders')
    +list('address-card', 'Cards', 'cards')
    +list('ribbon', 'Ribbons', 'ribbons')
    +list('table-cells', 'Grids', 'grids')
    +list('table-columns', 'Columns', 'columns')
    +list('magnifying-glass', 'Zooms', 'zooms')
    +list('map-location-dot', 'Maps', 'maps')
