.grid2
  .map(
    style='max-height:30vh'
    data-name='Map 1'
    data-places='["Cathédrale Notre-Dame de Paris", [48.852974303572104, 2.3499731759450433]]'
    data-zoom='15'
    data-maxzoom='21'
    data-color='#ff654f'
    data-tileserver='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoib2xpdmllcmMiLCJhIjoiY2s5dnNnZWoyMDIzNDNzb2Y1dmQ4MGNtMCJ9.m4U-wYcS4EPcKe9nVXIbUA'
    data-attribution='<a href=\"//www.openstreetmap.org/\">OSM</a> | <a href=\"//www.mapbox.com/\">Mapbox</a>'
  )
  .map(
    style='max-height:30vh'
    data-name='Map 2'
    data-places='["Cathédrale Notre-Dame de Paris", [48.852974303572104, 2.3499731759450433]]',
    data-zoom='15',
    data-maxzoom='19'
    data-color='#ff654f',
    data-tileserver='https://wxs.ign.fr/decouverte/geoportail/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE=normal&TILEMATRIXSET=PM&FORMAT=image/png&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}',
    data-attribution='<a target="_blank" href="https://www.geoportail.gouv.fr/">Geoportail France</a>'
  )
  .map(
    style='max-height:30vh;--color:CornflowerBlue;--color2:MediumSlateBlue'
    data-name='Map 3'
    data-places='["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]'
    data-zoom='16'
    data-maxzoom='19'
    data-color='#ff654f'
    data-tileserver='https://wxs.ign.fr/decouverte/geoportail/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE=normal&TILEMATRIXSET=PM&FORMAT=image/png&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}'
    data-attribution='<a target="_blank" href="https://www.geoportail.gouv.fr/">Geoportail France</a>'
  )
  .map(
    style='max-height:30vh;--color:CornflowerBlue;--color2:MediumSlateBlue'
    data-name='Map 4'
    data-places='["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]'
    data-zoom='16'
    data-maxzoom='21'
    data-color='#ff654f'
    data-tileserver='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoib2xpdmllcmMiLCJhIjoiY2s5dnNnZWoyMDIzNDNzb2Y1dmQ4MGNtMCJ9.m4U-wYcS4EPcKe9nVXIbUA'
    data-attribution='<a href=\"//www.openstreetmap.org/\">OSM</a> | <a href=\"//www.mapbox.com/\">Mapbox</a>'
  )
//- Serveurs de tuiles disponibles @see https://wiki.openstreetmap.org/wiki/Tile_servers
//- Alternative : 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'
//- Zoom de 0 à 18
//- @todo yarn add color -> color.lighten(0.2)
br
p.message
  svg.icon-inline(role='img' focusable='false')
    use(href='/sprites/util.svg#info')
  | Les cartes sont produites avec Leaflet.js.
