.grid2.gap.gap-bottom
  .map(
    style='max-height:30vh'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='19'
    data-attribution='<a href="//www.openstreetmap.org/">OSM</a>'
  )
  .map(
    style='max-height:30vh'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='20'
    data-tileserver='https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'
    data-attribution='<a href="//www.openstreetmap.org/">OSM France</a>'
  )
  .map(
    style='max-height:30vh'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='19'
    data-tileserver='https://wxs.ign.fr/decouverte/geoportail/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE=normal&TILEMATRIXSET=PM&FORMAT=image/png&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}'
    data-attribution='<a href="//www.geoportail.gouv.fr/">Geoportail France</a>'
  )
  .map(
    style='max-height:30vh;--color:DeepSkyBlue'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='19'
    data-tileserver='https://wxs.ign.fr/decouverte/geoportail/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE=normal&TILEMATRIXSET=PM&FORMAT=image/jpeg&LAYER=ORTHOIMAGERY.ORTHOPHOTOS&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}'
    data-attribution='<a href="//www.geoportail.gouv.fr/">Geoportail France</a>'
  )
.grid.gap-bottom
  .map(
    style='max-height:30vh'
    data-name='Via Podiensis, Le Puy – Conques'
    data-places='[["Le Puy-en-Velay", [45.0455966440617, 3.884935601376469]],["Saint-Privat-d\'Allier", [44.987927592669465, 3.678808317108506]],["Saugues", [44.96047626377144, 3.5473354650090596]],["Le Sauvage", [44.824518257012215, 3.487067835885111]],["Les Estrets", [44.741001187803924, 3.3525807542236152]],["Les Quatres chemins", [44.70685078496711, 3.192624249110267]],["Nasbinals", [44.66240315388833, 3.046495616987213]],["Saint-Chély-d\'Aubrac", [44.59170960152898, 2.926362556665009]],["Saint-Côme-d\'Olt", [44.515063594275574, 2.8151170711441775]],["Estaing", [44.55430261590735, 2.672508416693383]],["Conques", [44.59922220968624, 2.398123925260783]]]'
    data-maxzoom='19'
    data-tileserver='https://wxs.ign.fr/decouverte/geoportail/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE=normal&TILEMATRIXSET=PM&FORMAT=image/png&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}'
    data-attribution='<a href="//www.geoportail.gouv.fr/">Geoportail France</a>'
  )
.grid2.gap
  .map.map-grayscale(
    style='max-height:30vh'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='20'
    data-tileserver='https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'
    data-attribution='<a href="//www.openstreetmap.org/">OSM France</a>'
  )
  .map.map-dark(
    style='max-height:30vh'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='20'
    data-tileserver='https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'
    data-attribution='<a href="//www.openstreetmap.org/">OSM France</a>'
  )
  .map.map-vintage(
    style='max-height:30vh'
    data-name='La Chaise-Dieu'
    data-places='[["Abbaye de la Chaise-Dieu", [45.321153730874585, 3.696077550805857]]]'
    data-zoom='16'
    data-maxzoom='20'
    data-tileserver='https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'
    data-attribution='<a href="//www.openstreetmap.org/">OSM France</a>'
  )
  div
    p.message
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#info')
      | Les cartes sont produites avec la librairie 
      a(href='//leafletjs.com/') Leaflet.js
      | . Serveurs de tuiles disponibles 
      a(href='//wiki.openstreetmap.org/wiki/Tile_servers') référencés ici
      | . Alternative de tuiles 
      a(href='//leaflet-extras.github.io/leaflet-providers/preview/') référencés ici
      | .
    p.message
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#link')
      | Pour les exemples de définition des cartes ici-présentes voir sur cette page&nbsp;: 
      a(href='//github.com/Scriptura/scriptura.github.io/blob/master/views/includes/demos/map.pug') map.pug
      | .
