mixin picture(img, alt)
  - var img = '../Images/' + img
  picture
    source(media='(min-width: 2000px)' srcset='#{img}.jpg 2500w' sizes='100vw')
    source(media='(min-width: 1500px)' srcset='#{img}2000.jpg 2000w' sizes='100vw')
    source(media='(min-width: 1000px)' srcset='#{img}1500.jpg 1500w' sizes='100vw')
    source(media='(min-width: 800px)' srcset='#{img}1000.jpg 1000w' sizes='100vw')
    source(media='(min-width: 600px)' srcset='#{img}800.jpg 800w' sizes='100vw')
    source(media='(min-width: 300px)' srcset='#{img}600.jpg 600w' sizes='100vw')
    source(media='(min-width: 400px)' srcset='#{img}400.jpg 400w' sizes='100vw')
    source(srcset='#{img}300.jpg 300w' sizes='100vw')
    img(src='#{img}.jpg' alt='#{alt}')

.grid
  .m4.sizeS-m6
    p
      code img
    +picture('LotusTest', 'Image Test')
  .m4.sizeS-m6
    p
      code .figure
    figure.figure
      +picture('LotusTest', 'Image Test')
  .m4.sizeS-m6
    p
      code .figure-captionslide
    figure.figure-captionslide
      +picture('LotusTest', 'Image Test')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure figcaption
    figure.figure
      +picture('LotusTest', 'Image Test')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure-focus
    figure.figure-focus
      +picture('LotusTest', 'Image Test')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure-focus
    figure.figure-focus
      +picture('LotusTest', 'Image Test')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure-focus
    figure.figure-focus
      +picture('Demo/OldMechanism', 'Old Mechanism')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .grid
    .m6
      p
        code .figure
      figure.figure
        +picture('Demo/GrassLeaf', 'Grass Leaf')
    .m6
      p
        code .figure-thumbnail
      figure.figure-thumbnail
        +picture('Demo/GrassLeaf', 'Grass Leaf')
  .grid
    .m6
      p
        code .figure-alignleft
      figure.figure-alignleft-captionslide-thumbnail
        +picture('Demo/ColorfulLeaf', 'Colorful Leaf')
        figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    .m6
      p
        code .figure-alignright
      figure.figure-alignright-captionslide-thumbnail
        +picture('Demo/ColorfulLeaf', 'Colorful Leaf')
        figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.