.section.slideshow#slideshow1(
  data-cycle-slides='.cycle-item'
  data-cycle-timeout='6000'
  data-cycle-speed='2000'
  data-cycle-prev='#prev'
  data-cycle-next='#next'
  data-cycle-manual-fx='scrollHorz'
  data-cycle-manual-speed='300'
  )
  - var img = ['../Images/Demo/ForlornKeel', '../Images/Demo/PacificCity', '../Images/Demo/OldMechanism', '../Images/Demo/Rose']
  - var title = ['Lorem ipsum dolor sit amet', 'Consectetur adipiscing elit', 'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.']
  - var textColor = ['#cee2f9', '#97b5d1', '#ddd']
  - var sizes = '100vw'
    .cycle-pager
    - for (var i = 0; i < 3; i++)
      style.
        @media screen and (max-width: 36.01rem) {
          #cycle-item#{i} {
            background-image: url(#{img[i]}1024.jpg); /* 1024px */
          }
        }
        @media screen and (min-width: 36.01rem) and (max-width: 65.01rem) {
          #cycle-item#{i} {
            background-image: url(#{img[i]}2048.jpg); /* 2048px */
          }
        }
        @media screen and (min-width: 65.01rem) {
          #cycle-item#{i} {
            background-image: url(#{img[i]}2048.jpg); /* Original */
          }
        }
      .cycle-item(id='cycle-item#{i}')
        //- data-cycle-hash='#{title[i]}' // Attribute for .cycle-item
        picture
          //- @todo L'image la plus petite est suffisante pour l'attribut srcset étant donné que l'image est inutilisée au profit de 'background-image'
          source(
            srcset='#{img[i]}320.jpg'
            sizes='#{sizes}'
            )
          img(src='#{img[i]}' alt='#{title[i]}')
        .cycle-text
          div
            h2
              a(href='/' style='color:#{textColor[i]}')
                = title[i]
  button#prev
    .icon-chevron-right
  button.pause(data-cycle-cmd='pause' data-cycle-context='#slideshow1')
    .icon-control-pause
  button.resume(data-cycle-cmd='resume' data-cycle-context='#slideshow1')
    .icon-control-play
  button#next
    .icon-chevron-right
.section#index-detail-of-html-code
  .wrap
    h1(itemprop='headline name').emphasized Slideshow
    h2.highlight Detail of html code
      a.anchor(href='#index-detail-of-html-code')
    pre
      code(translate='no' data-code=' Jade' data-select='true' data-value='Sélection').
        .section.slideshow#slideshow1(
          data-cycle-slides='.cycle-item'
          data-cycle-timeout='6000'
          data-cycle-speed='2000'
          data-cycle-prev='#prev'
          data-cycle-next='#next'
          data-cycle-manual-fx='scrollHorz'
          data-cycle-manual-speed='300'
          )
          - var img = ['../Images/Demo/boat.jpg', '../Images/Demo/ponton.jpg', '../Images/Demo/tunel.jpg', '../Images/Demo/rose.jpg']
          - var title = ['Lorem ipsum dolor sit amet', 'Consectetur adipiscing elit', 'Aenean commodo ligula eget dolor. Aenean massa.', 'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.']
          - var textColor = ['#ddd', '#97B5D1', '#ddd', 'Orange']
            .cycle-pager
            - for (var i = 0; i < 4; i++)
              style.
                @media screen and (max-width: 36.01rem) {
                  #cycle-item#{i} {
                    background-image: url(#{img[i]});
                  }
                }
                @media screen and (min-width: 36.01rem) and (max-width: 65.01rem) {
                  #cycle-item#{i} {
                    background-image: url(#{img[i]});
                  }
                }
                @media screen and (min-width: 65.01rem) and (max-width: 90.01rem) {
                  #cycle-item#{i} {
                    background-image: url(#{img[i]});
                  }
                }
                @media screen and (min-width: 90.01rem) and (max-width: 120.01rem) {
                  #cycle-item#{i} {
                    background-image: url(#{img[i]});
                  }
                }
                @media screen and (min-width: 120.01rem) and (max-width: 140.01rem) {
                  #cycle-item#{i} {
                    background-image: url(#{img[i]});
                  }
                }
                @media screen and (min-width: 140.01rem) {
                  #cycle-item#{i} {
                    background-image: url(#{img[i]});
                  }
                }
              .cycle-item(id='cycle-item#{i}')
                //- data-cycle-hash='#{title[i]}' // Attribute for .cycle-item
                img(src='#{img[i]}' alt='#{title[i]}')
                .cycle-text
                  div
                    h2
                      a(href='/' style='color:#{textColor[i]}')
                        = title[i]
          button#prev
            .icon-chevron-right
          button.pause(data-cycle-cmd='pause' data-cycle-context='#slideshow1')
            .icon-control-pause
          button.resume(data-cycle-cmd='resume' data-cycle-context='#slideshow1')
            .icon-control-play
          button#next
            .icon-chevron-right
