figure.figure-image-focus(class=img.class)
  picture
    source(
      srcset=img.src + img.name + '-w600' + '.' + img.ext + ', ' + img.src + img.name + '-w1000' + '.' + img.ext + ' 2x'
      type=img.typesMime
    )
    img(
      src=img.src + img.name + '.' + img.ext
      loading='lazy'
      alt=img.alt
      width=img.width
      height=img.height
    )
  figcaption!= img.alt + '.<br>Crédit&nbsp;: ' + img.author
