figure.figure-image-focus(class=img.class)
  picture
    source(
      srcset=img.src + img.name + '-w300' + '.' + img.ext
      type=img.typesMime
    )
    img(
      src=img.src + img.name + '.' + img.ext
      loading='lazy'
      alt=img.alt
      width=img.width
      height=img.height
    )
  //-figcaption!= img.alt + '.<br>Crédit&nbsp;: ' + img.author
